<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div>
        <%= f.label :username %>
        <span>Add your username</span>
    </div>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <div>
        <%= f.label :email %>
        <span>Add you email</span>
    </div>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <div>
        <%= f.label :password %>
        <span>Add a password</span>
    </div>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <div>
        <%= f.label :password_confirmation %>
        <span>Confirm you password</span>
    </div>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
